$def with (driver_list, driver_map)
$var baseTitle: Add Case
$var navTitle: case
$var jsFiles: /static/js/addCase.js
<div class="title_bar">
    <div class="title_path">
        <ol class="breadcrumb">
            <li class="top_path glyphicon glyphicon-home"></li>
            <li class="top_path"><a href="/driver">Case</a></li>
            <li class="sub_path">添加</li>
        </ol>
    </div>
    <div class="title_operate">
        <a href="/driver"><button class="btn">返回</button></a>
    </div>
</div>
<div class="container-fluid">
		<div class="col-md-12">
				<input id="driver_map" type="hidden" name="driver_map" value="$driver_map">
				<form class="form-horizontal" role="form" id="case_add_form" action="/case/add" method="post">
						<div class="form-group">
								<label class="col-sm-2 control-label">Driver:</label>
								<div class="col-sm-3">
										<select id="driver-select" name="driver" class="form-control">
												$for driver in driver_list:
														<option>$driver['name']</option>
										</select>
								</div>
						 </div>
						 <div class="form-group">
								<label class="col-sm-2 control-label">Name:</label>
								<div class="col-sm-3">
										<input class="form-control" type="text" id="case_name_add" name="name">
								</div>
						 </div>
						 <div class="form-group">
								<label class="col-sm-2 control-label">Desc:</label>
								<div class="col-sm-3">
										<input class="form-control" type="text" id="case_desc_add" name="description">
								</div>
						 </div>
						 <div class="form-group">
								<label class="col-sm-2 control-label">Param:</label>
								<div class="col-sm-7">
										<textarea rows="10" class="form-control" id="case_param_add" name="param"></textarea>
	            	</div>
						</div>
				</form>
				<div class="form-group">
						<div class="col-sm-offset-2 col-sm-7">
								<a href="case/list" type="button" class="btn btn-default">Cancel</a>
								<button id="submit-case-add-btn" type="submit" class="btn">Submit</button>
						</div>
				</div>
		</div>
</div>
