$def with ()
$var baseTitle: Add Driver
$var navTitle: driver
$var jsFiles: /static/js/addDriver.js
<div class="title_bar">
    <div class="title_path">
        <ol class="breadcrumb">
            <li class="top_path glyphicon glyphicon-home"></li>
            <li class="top_path"><a href="/driver">Case</a></li>
            <li class="sub_path">添加</li>
        </ol>
    </div>
    <div class="title_operate">
        <a href="/driver"><button class="btn">返回</button></a>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" id="driver-add-form" action="/driver/add" method="post">
        	<div class="form-group">
            	<label class="col-sm-2 control-label">Name:</label>
            	<div class="col-sm-3">
                	<input type="text" class="form-control" id="driver-name-add" name="name">
            	</div>
        	</div>
        	<div class="form-group">
            	<label class="col-sm-2 control-label">Desc:</label>
            	<div class="col-sm-3">
                	<input type="text" class="form-control" id="driver-desc-add" name="description">
            	</div>
        	</div>
        	<div class="form-group">
            	<label class="col-sm-2 control-label">Params:</label>
            	<input type="hidden" value="" id="driver-keys-add" name="param">
            	<div class="col-sm-7">
                	<table class="table table-bordered" id="driver-params-table">
                    	<thead class="breadcrumb">
                        	<tr>
                            	<th width="150px">Key Name</th>
                            	<th>Default Value</th>
                            	<th width="30px"><button class="btn btn-xs table-add-btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span></button></th>
                        	</tr>
                    	</thead>
                    	<tbody>
                    	</tbody>
                	</table>
            	</div>
        	</div>
        	<div class="form-group">
            	<label class="col-sm-2 control-label">SetUp:</label>
            	<div class="col-sm-7">
                	<textarea rows="8" class="form-control" id="driver-loadpy-add" name="setuppy">
def setup(tc):
    pass</textarea>
            	</div>
        	</div>
          <div class="form-group">
              <label class="col-sm-2 control-label">TearDown:</label>
              <div class="col-sm-7">
                  <textarea rows="8" class="form-control" id="driver-loadpy-add" name="teardownpy">
def teardown(tc):
    pass</textarea>
              </div>
          </div>
        	<div class="form-group">
            	<label class="col-sm-2 control-label">Exec:</label>
            	<div class="col-sm-7">
                	<textarea rows="8" class="form-control" id="driver-execpy-add" name="execpy">
def runTest(tc):
    assert True</textarea>
            	</div>
        	</div>
        </form>
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-2">
                <a href="/driver/list" type="button" class="btn btn-default">Cancel</a>
                <button id="submit-driver-add-btn" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
