$def with (main)
<html>
<head>
    <title>$main.baseTitle</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/common.css" type="text/css">
    <!-- js files -->
    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    $if main.jsFiles:
        $for js in main.jsFiles.split():
            <script src="$js"></script>
</head>
<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- nav -->
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/dashboard">自动化测试与发布/ATRS</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                    $if main.navTitle == 'driver':
                        <li class="active"><a href="/driver">Driver</a></li>
                        <li><a href="/case">Case</a></li>
                        <li><a href="/plan">Plan</a></li>
                        <li><a href="/app">App</a></li>
                    $elif main.navTitle == 'case':
                        <li><a href="/driver">Driver</a></li>
                        <li class="active"><a href="/case">Case</a></li>
                        <li><a href="/plan">Plan</a></li>
                        <li><a href="/app">App</a></li>
                    $elif main.navTitle == 'plan':
                        <li><a href="/driver">Driver</a></li>
                        <li><a href="/case">Case</a></li>
                        <li class="active"><a href="/plan">Plan</a></li>
                        <li><a href="/app">App</a></li>
                    $elif main.navTitle == 'app':
                        <li><a href="/driver">Driver</a></li>
                        <li><a href="/case">Case</a></li>
                        <li><a href="/plan">Plan</a></li>
                        <li class="active"><a href="/app">App</a></li>
                    $else:
                        <li><a href="/driver">Driver</a></li>
                        <li><a href="/case">Case</a></li>
                        <li><a href="/plan">Plan</a></li>
                        <li><a href="/app">App</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown">Admin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="self">系统设置</a></li>
                                <li><a href="self">帮助</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- left -->
        <!-- main -->
        <div class="main">
            $:main
        </div>
        <!-- footer -->
        <div class="footer">
            <div>@author wangming</div>
        </div>
    </div>
</body>
</html>
