$def with (statisticInfo)
$var baseTitle: Dashboard of ATRS
$var navTitle: dashboard
$var jsFiles:
<div class="title_bar">
    <div class="title_path2">
        <ol class="breadcrumb">
            <li class="top_path glyphicon glyphicon-home"></li>
            <li class="top_path"><a href="/driver">Dashboard</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="static_bar">
        <ul class="">
            <li ><div class="name">Total Drivers</div><div class="value">$statisticInfo['totalDrivers']</div></li>
            <li ><div class="name">Total Cases</div><div class="value">$statisticInfo['totalCases']</div></li>
            <li ><div class="name">Total Plans</div><div class="value">$statisticInfo['totalPlans']</div></li>
            <li ><div class="name">Total Applications</div><div class="value">$statisticInfo['totalApps']</div></li>
        </ul>
    </div>
    <div class="static_chart">
        <ul>
            <li><div class="chart_pic" id="total_plans"></div><div class="chart_name">Total Plans</div></li>
            <li><div class="chart_pic" id="total_cases"></div><div class="chart_name">Total Instances</div></li>
        </ul>
    </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<script>
    Morris.Donut({
      element: 'total_plans',
      data: [
        {label: "Success", value: $statisticInfo['succPlans']},
        {label: "Failed", value: $statisticInfo['errPlans']},
        {label: "Running", value: $statisticInfo['rngPlans']}
      ],
      colors: [
        'rgb(50, 200, 50)',
        'rgb(255, 55, 55)',
        'rgb(255, 245, 0)'
      ],
    });
    Morris.Donut({
      element: 'total_cases',
      data: [
        {label: "Success", value: $statisticInfo['succCases']},
        {label: "Failed", value: $statisticInfo['errCases']},
        {label: "Running", value: $statisticInfo['rngPlans']}
      ],
      colors: [
        'rgb(50, 200, 50)',
        'rgb(255, 55, 55)',
        'rgb(255, 245, 0)'
      ],
    });
</script>
