$def with (apps)
$var baseTitle: App List
$var navTitle: app
$var jsFiles:
<div class="title_header">
    <div class="title_path">
        <ol class="breadcrumb">
          <li class="top_path glyphicon glyphicon-home"></li>
          <li class="top_path"><a href="/app">App</a></li>
          <li class="sub_path">列表</li>
        </ol>
    </div>
    <div class="list_search">
        <a href="/app/add"><button id ="list_add" class = "btn btn-sm">添加</button></a>
        <span class="list_search_icon glyphicon glyphicon-search"></span>
        <input class="input-medium search-query list_search_input" type="text" id="list_search_input" placeholder="Type keyword here…">
    </div>
</div>
<div>
    <table class = "table table-striped table-hover">
        <thead>
            <tr>
                <td>App Name</td>
                <td>App Type</td>
                <td>Status</td>
                <td>Access Url</td>
                <td>Last Release Status</td>
                <td>Last Release Time</td>
            </tr>
        </thead>
        <tbody>
        $for app in apps:
            <tr>
                <td><a href="app/$app['id']">$app['name']</a></td>
                <td>$app['type']</td>
                <td>
                    $if app['status'] =='Down':
                        <img src="/static/image/x.jpg"  alt="Down" height="20" width="20" />
                    $elif app['status'] =='Running':
                        <img src="/static/image/running.gif"  alt="Running" height="20" width="20"/>
                    $else:
                        app['status']
                </td>
                <td><a href="$app['access_url']">$app['access_url']</a></td>
                <td>
                    $if app['last_release_status']=='Success':
                        <label class="btn btn-xs btn-success">Success</label>
                    $elif app['last_release_status']=='Failed':
                        <label class="btn btn-xs btn-danger"> Failed </label>
                    $else:
                        <label class="btn btn-xs btn-info">$app['last_release_status']</label>
                </td>
                <td>$app['last_release_time']</td>
            </tr>
        </tbody>
    </table>
    $if len(apps)==0:
        <div class="none_data">
            Sorry, None app in system.
        </div>
</div>
