$def with (plan, isExecuted)
$var baseTitle: Plan Info
$var navTitle: plan
$var jsFiles: /static/lib/pageList/template.js /static/lib/pageList/list.js /static/js/viewPlan.js
<div class="title_bar">
    <div class="title_path">
        <ol class="breadcrumb">
            <li class="top_path glyphicon glyphicon-home"></li>
            <li class="top_path"><a href="/plan">Plan</a></li>
            <li class="sub_path">$plan['name']</li>
        </ol>
    </div>
    <div class="title_operate">
        <button id="del_plan" class="btn btn-sm">删除</button>
        <a href="/plan/$plan['id']/mod"><button id="mod_plan" class="btn btn-sm">修改</button></a>
        <a href="/plan/add"><button id ="add_plan" class="btn btn-sm">添加</button></a>
        <button id="run_plan" class="btn btn-sm">Run</button>
    </div>
</div>
<div class="view_container">
    <div class="row panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
            <input id="plan_id" type="hidden" name="plan_id" value="$plan['id']">
            <input id="plan_name" type="hidden" name="plan_name" value="$plan['name']">
            <input id="is_executed" type="hidden" name="is_executed" value="$isExecuted">
            <div class="col-md-12">
                <label class="col-sm-2">Name:</label>
                <label class="col-sm-10 control-label">$plan['name']</label>
            </div>
            <div class="col-md-12">
                <label class="col-sm-2">Case List:</label>
                <label class="col-sm-10 control-label">$plan['case_list']</label>
            </div>
            <div class="col-md-12">
                <label class="col-sm-2">People:</label>
                <label class="col-sm-10 control-label">$plan['people']</label>
            </div>
            <div class="col-md-12">
                <label class="col-sm-2">crontab:</label>
                <label class="col-sm-10 control-label">$plan['crontab']</label>
            </div>
            <div class="col-md-12">
                <label class="col-sm-2">Description:</label>
                <label class="col-sm-10 control-label">$plan['description']</label>
            </div>
            <div class="col-md-12">
                <label class="col-sm-2">Last Status:</label>
                <label class="col-sm-10 control-label">
                    $if plan['last_status']=='Success':
                        <button class="btn btn-xs btn-success">Success</button>
                    $elif plan['last_status']=='Failed':
                        <button class="btn btn-xs btn-danger"> Failed </button>
                    $else:
                        $plan['last_status']
                </label>
            </div>
        </div>
    </div>
    $if isExecuted:
        <div class="row panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">运行记录</h3>
            </div>
            <div class="col-md-12" style="border-top-width: 1px;padding: 2px;">
                <textarea id="list_template" style="display: none;">
                    <table class = "table table-striped table-hover">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>Plan Name</td>
                            <td>Status</td>
                            <td>Start Time</td>
                            <td>Stop Time</td>
                            <td>Type</td>
                            <td>User</td>
                            <td>Report</td>
                            <td>Log</td>
                        </tr>
                        </thead>
                        <tbody>
                        {for item in pageData}
                        <tr>
                            <td>$${item.id}</td>
                            <td>$${item.plan_name}</td>
                            <td>
                                {if item.status=='Success'}
                                    <button class="btn btn-xs btn-success">Success</button>
                                {elseif item.status=='Failed'}
                                    <button class="btn btn-xs btn-danger"> Failed </button>
                                {else}
                                    <button class="btn btn-xs btn-info">$${item.status}</button>
                                {/if}
                            </td>
                            <td>$${item.start_time}</td>
                            <td>$${item.stop_time}</td>
                            <td>
                                {if item.type==0}
                                    Manual
                                {else}
                                    Auto
                                {/if}
                            </td>
                            <td>$${item.user}</td>
                            <td><a href="/report/$${item.report}">$${item.report}</a></td>
                            <td class="view_log_path" title="$${item.log}" id="$${item.log}" onclick="copyLog()">    </td>
                        </tr>
                        {/for}
                        </tbody>
                    </table>
                </textarea>
                <div id="list_container" style="display: none;"></div>
                <table class="list_bottom">
                    <tr>
                        <td class="list_info" id="list_td_foot">
                            共<span id="list_totalDataNo"></span>条
                            每页显示<input id="list_pageSize" type="text"/>条
                            <button id ="list_firstPage" class = "btn btn-sm">首页</button>
                            <button id ="list_prevPage" class = "btn btn-sm">上一页</button>
                            第<input id="list_currentPageNo" type="text"></input>/
                            <span id="list_pageNo"></span>页
                            <button id ="list_nextPage" class = "btn btn-sm" >下一页</button>
                            <button id ="list_lastPage" class = "btn btn-sm" >末页</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</div>
