/************************************************************
 * 文件名：common.css
*
* 文件说明：主要用于呈现网站所有页面样式。
*
* @author wangming
*************************************************************/
/************************** global **************************/
html {overflow-y: scroll;}
.modal {overflow: hidden;}
body {
  padding-top: 5px;
  font-family: "黑体" "Microsoft YaHei";
}
button {
  color: white;
  background-color: rgb(100, 153, 204);
}
/***************** header *******************/
.active {
  background-color: rgb(15, 50, 100);
}
.header {
  background-color: rgb(35, 108, 180);
}
.header nav a {
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: rgb(33, 103, 172);
  text-align: center;
  color: white;
  font-size: 18px;
}
.header nav a:hover {
  background-color: rgb(15, 50, 100);
}
.header .dropdown-menu a{
    font-size: 15px;
    background-color: rgb(35, 108, 180);
    margin-top: -5px;
    margin-bottom: -5px;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: rgb(33, 103, 172);
}
.header .dropdown-menu :hover{
  background-color: rgb(15, 50, 100);
  color: white;
}
.navbar-right {
  float: right!important;
  margin-right: 0;
}
/***************** footer *******************/
.footer {
	font-size: 15px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family:宋体;
}
/***************** main ********************/
.main {
  margin-top: -10px;
}
/***************** title_bar ********************/
.title_header {
  background-color: #f5f5f5;
  margin: 0;
  height: 36px;
}
.title_path {
  float: left;
  width: 60%;
}
.title_path2 {
  float: left;
  width: 100%;
}

.title_path ol{
  margin-bottom: 2;
}
.title_path2 ol{
  margin-bottom: 2;
}
.top_path {

}
.sub_path {

}
.list_search {
  float: right;
  width: 40%;
  margin-top: 5px
}
.list_search_input {
  float: right;
}
.list_search_icon {
  float: right;
  margin: 6px;
}
.title_operate {
  width: 40%;
  background-color: #f5f5f5;
  float: right;
}
.title_operate button{
  margin: 2px;
  float: right;
}
/***************** list ********************/
#list_container {
  margin: 0 0 -10px 0;
}
thead td{
  border-style: ridge;
  border-width: 1px;
  border-color: rgb(179, 196, 213);
  background-color: rgb(100, 153, 204);
  color: white;
}
tbody td{
  border-style: ridge;
  border-width: 1px;
  border-color: rgb(179, 196, 213);
}
#list_pageSize {
  width: 40px;
}
#list_currentPageNo {
  width: 50px;
}
#list_container tbody td{
  border-style: ridge;
  border-width: 1px;
  border-color: rgb(179, 196, 213);
}
.none_data {
    font-size: 18px;
    text-align: center;
    border-style: ridge;
    border-width: 1px;
    border-color: rgb(179, 196, 213);
    background-color: #f5f5f5;
    margin: -20px 0 0 0;
    height: 40px;
    line-height:40px;
}
/***************** list_header ********************/


/***************** list_bottom ********************/
.list_bottom {
  width: 100%;
  margin-top: -21px;
}
.list_bottom tr{
  background-color: #f5f5f5;
}
.list_bottom td{
    border-width: 1px 0 1px 0;
}
.list_operate {
  text-align: left;
}
.list_info {
  text-align: right;
}

/***************** view_bottom ********************/
.view_group {
  float: left;
}
/***************** view ********************/
.view_container {
    padding-top: 50px;
}
.view_container label {
    border-style: solid;
    border-width: 1 0 0 0;
    border-color: rgba(178, 198, 218, 0.43);
    text-indent: 0;
    text-align: left;
    font-size: 15px;
    color: rgb(5, 29, 48);
    min-height: 35px;
    margin: 0;
    padding-top: 5px;
}
.panel_name {

}
.panel_value {

}
/***************** dashboard ********************/
.static_bar {
    text-align: center;
}
.static_bar ul li {
    float: left;
    background-color: rgba(42, 132, 189, 1);
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: white;
    height: 80px;
    width: 25%;
}
.static_bar .name{
    font-size: 20px;
    padding: 10 0 0 5;
}

.static_bar .value{
    font-size: 25px;
    color: white;
    padding: 5 0 0 5;
}
.static_chart {

}
.static_chart ul li{
    float: left;
}
.chart_pic {
    height: 200px;
    width: 200px;
}
.chart_name {
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 20px;
}

.view_log_path {
    cursor: pointer;
    background-image: url(/static/image/copy.png);
    background-size: 25px 25px;
    background-repeat:no-repeat;
    background-position: center;
}
